/*  #root {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #f9f9f9;
  box-sizing: border-box;
} */
 

/* ============================= */
/* -------- General CSS -------- */
/* ============================= */

 body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
    display: flex;
  justify-content: center;     
  align-items: center;
} 



.container {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 1rem;
  min-width: 100vw;
  box-sizing: border-box; 
  padding: 0rem 5rem 0rem 5rem; 
}

/* ============================= */
/* -------- Header CSS -------- */
/* ============================= */
.header {
  padding: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 8px;
    box-sizing: border-box; 
}

.logo {
  margin: 0px;
  font-size: 1.5rem;
  font-family: cursive;
  font-weight: 900;
  color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.search-bar {
 margin-right: 30px;
  height: 30px;
  width: 100%;
  max-width: 250px; 
  display: flex;
   gap: 1rem;
  padding-top: 10px;
  border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-bar input {
  border: none;
  outline: none;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
}
.search-icon{
  margin-left:10px;
}
.search-bar svg {
  color: #ff6600;
  font-size: 1.2rem;
  cursor: pointer;
}


/* ============================= */
/* -------- Recipe of the day CSS -------- */
/* ============================= */
.recipe-of-the-day {
    box-sizing: border-box; 
 background-image: url(../../../../public/images/vegetable.png);
 background-size: 70%;
background-position: right top; 
 background-repeat: no-repeat;
 width: 100%;
   position: relative;
   margin-top: 10px;
   border-radius: 7px;
}

.highlight {
  display: flex;
  align-items: center;
  padding: 2rem;
  padding-left: 3rem;
  width: 30%;
  border: none;
  background-color: #141414;
  box-shadow: 20px 1px 20px #141414;
  border-radius: 7px;

}

.highlight-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 1rem;
}
.highlight-text h3 {
  width: 500%;
  font-family: cursive;
  font-weight: bolder;
  font-size: 3.5rem;
  color: orange;
  margin: 0px;
}
.highlight-text p {
    width: 450px;
  color: white;
  margin: 0px;
}

.highlight-image {
  width: 200px;
  border-radius: 8px;
}

.btn {
  background: orange;
  color: #fff;
  font-size: 18px;
  border: none;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: .7rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn:hover {
  background: white;
  color: orange;
}

/* ============================= */
/* -------- Recipe of the day Media query -------- */
/* -------- Media query for medium devices -------- */
/* ============================= */
@media (max-width: 992px) {

.header{
  padding: 0rem 5rem 0rem 5rem;
}


  .logo {
    font-size: 1.3rem;
    gap: 0.4rem;
  }

  .search-bar {
    max-width: 300px;
    margin-right: 10px;
  }

  .recipe-of-the-day {
    background-size: cover;
    background-position: center top;
    margin-top: 15px;
    width: 80%;
  }

  .highlight {
    width: 40%;
    padding: 1.5rem;
    box-shadow: 10px 1px 15px #141414;
  }

  .highlight-text h3 {
    font-size: 2rem;
  }

 
  .highlight-image {
    width: 150px;
  }

  .btn {
    font-size: 16px;
    margin-top: 30px;
    padding: 0.6rem 1rem;
  }
}


/* ============================= */
/* -------- Media query tablet -------- */
/* ============================= */

 @media (max-width: 768px) {

   .container {
    padding: 0 1rem;
    min-width: auto;
  }

  .header {
    flex-direction: column;
   align-items: center;
  }

  .logo {
    font-size: 1.2rem;
    gap: 0.3rem;
  }

  .search-bar {
    width: 50%;
    max-width: 100%;
    margin: 10px 0;
  }

  .recipe-of-the-day {
    background-size: 90%;
    background-position: center top;
    margin-top: 20px;
  }

  .highlight {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
    box-shadow: none;
   
  }

  .highlight-text {
    width: 100%;
  }

  .highlight-text h3 {
    font-size: 2.5rem;
    width: auto;
  }

  .highlight-text p {
    width: auto;
  }

  .highlight-image {
    width: 100%;
    margin-top: 10px;
  }

  .btn {
    font-size: 16px;
    margin-top: 20px;
    padding: 0.5rem 1rem;
  }
} 

/* ============================= */
/* -------- Media query for mobile devices -------- */
/* ============================= */
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .logo {
    font-size: 1rem;
  }

  .search-bar {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    box-shadow: none;
  }
    .search-bar input{
   
      padding: 5px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  .highlight {
    padding: 1rem;
    width: 100%;
  }

  .highlight-text h3 {
    font-size: 2rem;
  }

  .btn {
    font-size: 14px;
    padding: 0.5rem;
  }
}

/* ============================= */
/* -------- Popular recipes CSS -------- */
/* ============================= */

.popular-recipes {
  margin-top: 2rem;
    box-sizing: border-box; 
    min-width: 100vw;
    padding: 0rem 5rem 0rem 5rem;
}

.popular-recipes h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
}

.recipe-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  min-width: 100%; 
}

.recipe-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(20% - 1rem);
  height: 500px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-sizing: border-box; 
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 1rem;
  object-fit: cover; 
}

.recipe-info h3 {
  font-size: 1.1rem;
  color: #333;
  margin: 0px;
}

.recipe-info {
 padding: .5rem;
}
.recipe-info p {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  font-size: .9rem;
}

.recipe_info-tittle{
  text-align: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.star-span{
  font-size: .9rem;
  margin-right: 3px;
}
.rating-p{
  padding: 2px;
  border-radius: 5px;
  background-color: #fffddb;
  
}
.description-p{
  text-align: start;
  color: #333;
}

.recipe-title{
  color: orange;
  font-size: 2rem;
  font-family: cursive;
}


/* ============================= */
/* -------- Popular recipes Media query -------- */
/* -------- Media query for medium devices -------- */
/* ============================= */
@media (max-width: 992px) {
  .popular-recipes {
    padding: 0 3rem;
  }

  .recipe-list {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .recipe-card {
    width: calc(33.33% - 1rem); 
    height: 450px;
  }

  .recipe-info h3 {
    font-size: 1rem;
  }

  .recipe-title {
    font-size: 1.8rem;
  }
}

/* ============================= */
/* -------- Media query for tablets devices -------- */
/* ============================= */

@media (max-width: 768px) {
  .popular-recipes {
    padding: 0 2rem;
  }

  .recipe-list {
    flex-wrap: wrap;
    gap: 1rem;
  
  }

  .recipe-card {
    width: calc(50% - 1rem); 
    height: 400px;
      margin-top: 50px;
  }

  .recipe-info h3 {
    font-size: 0.9rem;
  }

  .recipe-title {
    font-size: 1.5rem;
  }
}

/* ============================= */
/* -------- Media query for mobile devices -------- */
/* ============================= */
@media (max-width: 480px) {
  .popular-recipes {
    padding: 0 1rem;
  }

  .recipe-list {
    flex-direction: column;
    gap: 1rem;
  }

  .recipe-card {
    width: 100%; 
    height: auto;
  }

  .recipe-info h3 {
    font-size: 0.8rem;
  }

  .recipe-title {
    font-size: 1.2rem;
  }

  .recipe-info p {
    font-size: 0.8rem;
  }

  .description-p {
    font-size: 0.9rem;
  }
}

